  <!--データ入力フォーム-->
  <input type="text" id="url">
  <input id="submit" type="button" value="submit">
  <p id="result"></p>

  <div id="container">
        <canvas id="screen"></canvas>
    <p id="info"></p>
    <p id="result"></p>
  </div>

  <!--jQuery召喚-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  
  <!--submitボタンをおすと以下のAjax通信-->
  <script type="text/javascript">
    $(function(){
      $("#submit").click(function(){
        var bkmData = {}
        var url = $("#url").val();
        var request = $.ajax({
          type: "POST",
          url: "/post",
          dataType: "text", //dataTypeをちゃんと指定する
          data: {
            url: url,
          },
        //以下、コールバック関数で戻り値を受け取り、id="result"に表示
        success: function(json) {
        dataType: "json",  //dataTypeをちゃんと指定する
        bkmData = JSON.parse(json);
        console.log(bkmData);
        $('#result').append(json);
        },
        error: function() {
        $('#result').append('error');
        }
        });
      });
    });
  </script>