<html>
<head>
  <script src="common.js"></script>
  <script src="main.js"></script>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <style>canvas {border: 1px solid gray;}</style>
  <h1>test</h1>
</head>
<body>
  
  <%= yield %>

</body>
</html>